body{
    background-color: lightgray;
    font-family: "Courier New";
    text-align: center;
}

h3,h1{
    color: #e84539;
}

.center{
    display: block;
    margin-left:auto;
    margin-right:auto;
    text-align: center;
}

#mainframe{
    border: 0;
    width: 85%;
    margin-left:auto;
    margin-right:auto;
}